In [51]:
import pandas as pd

df = pd.read_csv('data/cleaned/cleaned_players_performances.csv', low_memory=False)

In [52]:
df.head()

,season_x,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,...,loaned_in,loaned_out,offside,open_play_crosses,penalties_conceded,recoveries,tackled,tackles,target_missed,winning_goals
0,2016-17,Aaron Ramsey,0,0,4,0,2.7,16,181,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-17,Aaron Wan-Bissaka,0,0,0,0,0.0,612,181,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-17,Abdoulaye Doucouré,0,0,10,0,5.3,482,190,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-17,Ainsley Maitland-Niles,0,0,0,0,0.0,593,181,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-17,Alex Iwobi,0,3,37,1,62.2,21,181,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df.shape

(170425, 62)

In [54]:
df = df.sort_values(['team','kickoff_time'])

In [55]:
df[df['team'] == 'southampton']

,season_x,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,...,loaned_in,loaned_out,offside,open_play_crosses,penalties_conceded,recoveries,tackled,tackles,target_missed,winning_goals
3436,2016-17,Alex McCarthy,0,0,0,0,0.0,101,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3448,2016-17,Charlie Austin,0,0,2,0,1.0,314,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3455,2016-17,Cédric Soares,0,0,9,0,3.5,301,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3467,2016-17,Fraser Forster,0,0,7,0,0.0,294,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3469,2016-17,Harrison Reed,0,0,0,0,0.0,307,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138038,2022-23,Theo Walcott,1,0,25,0,0.0,400,380,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138049,2022-23,Tino Livramento,0,0,7,0,0.0,419,380,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138086,2022-23,Will Smallbone,0,0,0,0,0.0,415,380,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138090,2022-23,Willy Caballero,0,0,0,0,0.0,424,380,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138095,2022-23,Yan Valery,0,0,0,0,0.0,414,380,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.columns

Index(['season_x', 'name', 'assists', 'bonus', 'bps', 'clean_sheets',
       'creativity', 'element', 'fixture', 'goals_conceded', 'goals_scored',
       'ict_index', 'influence', 'kickoff_time', 'minutes', 'opponent_team',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'yellow_cards', 'GW', 'position', 'team_x',
       'opp_team_name', 'Date', 'team', 'attempted_passes',
       'big_chances_created', 'big_chances_missed',
       'clearances_blocks_interceptions', 'completed_passes', 'dribbles',
       'ea_index', 'errors_leading_to_goal', 'errors_leading_to_goal_attempt',
       'fouls', 'id', 'key_passes', 'kickoff_time_formatted', 'loaned_in',
       'loaned_out', 'offside', 'open_play_crosses', 'penalties_conceded',
       'recoveries', 'tackled', 'tackles', 'target_missed', 'winning_goals'],
      dtype='object')

In [57]:
df['kickoff_time'] = pd.to_datetime(df['kickoff_time'], format='mixed', errors='coerce')

df = df.sort_values(by=['name', 'kickoff_time'])

df['rolling_avg_influence'] = df.groupby('name')['influence'].rolling(3, min_periods=1).mean().reset_index(level=0, drop=True)

team_weekly_avg_influence = df.groupby(['season_x', 'team', 'kickoff_time'])['rolling_avg_influence'].mean().reset_index()

df['rolling_avg_ict_index'] = df.groupby('name')['ict_index'].rolling(3, min_periods=1).mean().reset_index(level=0, drop=True)
team_weekly_avg_ict_index = df.groupby(['season_x', 'team', 'kickoff_time'])['rolling_avg_ict_index'].mean().reset_index()

team_weekly_avg_influence = team_weekly_avg_influence.merge(team_weekly_avg_ict_index, on=['season_x', 'team', 'kickoff_time'], how='left')

In [58]:
team_weekly_avg_influence.head()

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index
0,2016-17,arsenal,2016-08-14 15:00:00+00:00,14.271429,2.728571
1,2016-17,arsenal,2016-08-20 16:30:00+00:00,10.850000,2.457143
2,2016-17,arsenal,2016-08-27 14:00:00+00:00,10.490476,2.409524
3,2016-17,arsenal,2016-09-10 14:00:00+00:00,9.041026,2.658974
4,2016-17,arsenal,2016-09-17 14:00:00+00:00,10.997436,3.380769

In [59]:
team_weekly_avg_influence.to_csv('data/cleaned/team_weekly_avg_influence.csv', index=False)

In [60]:
team_weekly_avg_influence = pd.read_csv('data/cleaned/team_weekly_avg_influence.csv')

In [61]:
df_injuries = pd.read_csv('data/cleaned/cleaned_injuries.csv')

In [62]:
df_injuries[df_injuries['club'] == 'arsenal']

,player_name,season_injured,injury,injured_since,injured_until,duration,games_missed,club
2,David Luiz,2020-2021,Hamstring Injury,2021-05-03,2021-05-24,21 days,5.0,arsenal
3,David Luiz,2020-2021,Ill,2020-12-25,2021-01-01,7 days,2.0,arsenal
4,David Luiz,2020-2021,Head Injury,2020-12-01,2020-12-15,14 days,4.0,arsenal
5,David Luiz,2020-2021,Knock,2020-11-27,2020-11-28,1 days,NaN,arsenal
6,David Luiz,2020-2021,Hamstring Injury,2020-10-26,2020-11-03,8 days,2.0,arsenal
...,...,...,...,...,...,...,...,...
3840,Takehiro Tomiyasu,2022-2023,Knee Surgery,2023-03-16,2023-06-30,106 days,12.0,arsenal
3841,Takehiro Tomiyasu,2021-2022,Calf Injury,2022-02-20,2022-04-21,60 days,9.0,arsenal
3842,Takehiro Tomiyasu,2019-2020,Biceps femoris muscle injury,2019-10-11,2019-11-16,36 days,5.0,arsenal
3843,Takehiro Tomiyasu,2018-2019,Bruised Knee,2018-11-17,2018-11-24,7 days,NaN,arsenal
3844,Albert Sambi Lokonga,2021-2022,Corona virus,2021-12-17,2021-12-24,7 days,2.0,arsenal

In [63]:
df_injuries.columns

Index(['player_name', 'season_injured', 'injury', 'injured_since',
       'injured_until', 'duration', 'games_missed', 'club'],
      dtype='object')

In [64]:
team_weekly_avg_influence['kickoff_time'] = pd.to_datetime(team_weekly_avg_influence['kickoff_time'], utc=True)
team_weekly_avg_influence['kickoff_time'] = team_weekly_avg_influence['kickoff_time'].dt.tz_localize(None)

df_injuries['injured_since'] = pd.to_datetime(df_injuries['injured_since'], utc=True)
df_injuries['injured_since'] = df_injuries['injured_since'].dt.tz_localize(None)

df_injuries['injured_until'] = pd.to_datetime(df_injuries['injured_until'], utc=True)
df_injuries['injured_until'] = df_injuries['injured_until'].dt.tz_localize(None)

In [65]:
def count_injured_players(match_date, club):
    match_date = pd.Timestamp(match_date).to_pydatetime()

    injured_players = df_injuries[df_injuries['club'] == club]

    injured_count = injured_players[
        (injured_players['injured_since'] <= match_date) &
        ((injured_players['injured_until'].isna()) | (injured_players['injured_until'] >= match_date))
    ].shape[0]
    
    return injured_count

In [66]:
team_weekly_avg_influence['injured_players'] = team_weekly_avg_influence.apply(
    lambda row: count_injured_players(row['kickoff_time'], row['team']), axis=1
)

In [67]:
team_weekly_avg_influence.head()

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index,injured_players
0,2016-17,arsenal,2016-08-14 15:00:00,14.271429,2.728571,1
1,2016-17,arsenal,2016-08-20 16:30:00,10.850000,2.457143,2
2,2016-17,arsenal,2016-08-27 14:00:00,10.490476,2.409524,2
3,2016-17,arsenal,2016-09-10 14:00:00,9.041026,2.658974,2
4,2016-17,arsenal,2016-09-17 14:00:00,10.997436,3.380769,3

In [68]:
team_to_id = pd.read_csv('data/team_to_id.csv')

In [69]:
team_to_id.head()

          team  team_id
0      arsenal        1
1  aston villa        2
2  bournemouth        3
3    brentford        4
4     brighton        5

In [70]:
team_weekly_avg_influence = team_weekly_avg_influence.merge(team_to_id, left_on='team', right_on='team', how='left')

In [71]:
team_weekly_avg_influence.head()

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index,injured_players,team_id
0,2016-17,arsenal,2016-08-14 15:00:00,14.271429,2.728571,1,1
1,2016-17,arsenal,2016-08-20 16:30:00,10.850000,2.457143,2,1
2,2016-17,arsenal,2016-08-27 14:00:00,10.490476,2.409524,2,1
3,2016-17,arsenal,2016-09-10 14:00:00,9.041026,2.658974,2,1
4,2016-17,arsenal,2016-09-17 14:00:00,10.997436,3.380769,3,1

In [72]:
matches_df = pd.read_csv('data/encoded/encoded_matches.csv')

In [73]:
matches_df.head()

,Date,FT_HT_Goals,FT_AT_Goals,HT_HT_Goals,HT_AT_Goals,HT_Shots,AT_Shots,HT_Shots_target,AT_Shots_target,HT_Fouls_Comm,...,5GAV_HT_Yellows,5GAV_AT_Yellows,5GAV_HT_Reds,5GAV_AT_Reds,HT_Form,AT_Form,HT_Code,AT_Code,FT_Result_code,HT_Result_code
0,24/09/16,3,0,3,0,14,9,5,2,9,...,1.2,1.4,0.0,0.0,10,10,1,8,1,1
1,24/09/16,4,1,4,0,16,10,7,3,9,...,1.6,0.8,0.0,0.2,9,7,19,15,1,1
2,24/09/16,1,3,1,1,13,18,5,4,15,...,1.2,1.2,0.0,0.0,4,15,28,18,0,0
3,24/09/16,2,3,1,0,11,20,4,4,15,...,1.8,2.0,0.2,0.0,1,7,27,9,0,1
4,24/09/16,1,1,0,0,12,9,2,3,9,...,2.2,1.4,0.0,0.0,1,7,26,31,0,0

In [74]:
team_weekly_avg_influence['kickoff_time'] = pd.to_datetime(team_weekly_avg_influence['kickoff_time'], utc=True)

In [75]:
team_weekly_avg_influence.head()

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index,injured_players,team_id
0,2016-17,arsenal,2016-08-14 15:00:00+00:00,14.271429,2.728571,1,1
1,2016-17,arsenal,2016-08-20 16:30:00+00:00,10.850000,2.457143,2,1
2,2016-17,arsenal,2016-08-27 14:00:00+00:00,10.490476,2.409524,2,1
3,2016-17,arsenal,2016-09-10 14:00:00+00:00,9.041026,2.658974,2,1
4,2016-17,arsenal,2016-09-17 14:00:00+00:00,10.997436,3.380769,3,1

In [76]:
team_weekly_avg_influence['kickoff_time'] = team_weekly_avg_influence['kickoff_time'].dt.strftime('%d/%m/%y')

In [77]:
team_weekly_avg_influence.head()

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index,injured_players,team_id
0,2016-17,arsenal,14/08/16,14.271429,2.728571,1,1
1,2016-17,arsenal,20/08/16,10.850000,2.457143,2,1
2,2016-17,arsenal,27/08/16,10.490476,2.409524,2,1
3,2016-17,arsenal,10/09/16,9.041026,2.658974,2,1
4,2016-17,arsenal,17/09/16,10.997436,3.380769,3,1

In [78]:
team_weekly_avg_influence

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index,injured_players,team_id
0,2016-17,arsenal,14/08/16,14.271429,2.728571,1,1
1,2016-17,arsenal,20/08/16,10.850000,2.457143,2,1
2,2016-17,arsenal,27/08/16,10.490476,2.409524,2,1
3,2016-17,arsenal,10/09/16,9.041026,2.658974,2,1
4,2016-17,arsenal,17/09/16,10.997436,3.380769,3,1
...,...,...,...,...,...,...,...
7151,2023-24,wolves,24/04/24,4.801449,0.944928,2,33
7152,2023-24,wolves,27/04/24,4.921739,0.958696,2,33
7153,2023-24,wolves,04/05/24,4.773913,0.924638,2,33
7154,2023-24,wolves,11/05/24,4.597101,0.915942,2,33
7155,2023-24,wolves,19/05/24,4.330435,0.795652,2,33

In [79]:
matches_df[(matches_df['Date'] == '24/09/16')]

,Date,FT_HT_Goals,FT_AT_Goals,HT_HT_Goals,HT_AT_Goals,HT_Shots,AT_Shots,HT_Shots_target,AT_Shots_target,HT_Fouls_Comm,...,5GAV_HT_Yellows,5GAV_AT_Yellows,5GAV_HT_Reds,5GAV_AT_Reds,HT_Form,AT_Form,HT_Code,AT_Code,FT_Result_code,HT_Result_code
0,24/09/16,3,0,3,0,14,9,5,2,9,...,1.2,1.4,0.0,0.0,10,10,1,8,1,1
1,24/09/16,4,1,4,0,16,10,7,3,9,...,1.6,0.8,0.0,0.2,9,7,19,15,1,1
2,24/09/16,1,3,1,1,13,18,5,4,15,...,1.2,1.2,0.0,0.0,4,15,28,18,0,0
3,24/09/16,2,3,1,0,11,20,4,4,15,...,1.8,2.0,0.2,0.0,1,7,27,9,0,1
4,24/09/16,1,1,0,0,12,9,2,3,9,...,2.2,1.4,0.0,0.0,1,7,26,31,0,0
5,24/09/16,1,0,1,0,12,13,1,2,10,...,2.0,2.8,0.0,0.0,4,13,3,10,1,1
6,24/09/16,5,1,3,0,32,2,12,1,8,...,1.0,1.6,0.0,0.2,10,7,16,13,1,1
7,24/09/16,1,2,0,2,6,19,2,5,14,...,1.2,1.8,0.2,0.0,5,11,20,29,0,0

In [80]:
team_weekly_avg_influence[team_weekly_avg_influence['kickoff_time'] == '24/09/16']

,season_x,team,kickoff_time,rolling_avg_influence,rolling_avg_ict_index,injured_players,team_id
5,2016-17,arsenal,24/09/16,11.071795,3.556410,2,1
43,2016-17,bournemouth,24/09/16,8.333333,2.166667,1,3
119,2016-17,chelsea,24/09/16,10.702222,3.033333,0,8
157,2016-17,crystal palace,24/09/16,19.953333,4.530000,2,9
195,2016-17,everton,24/09/16,13.666667,3.242424,5,10
233,2016-17,hull,24/09/16,17.633333,2.894444,5,13
271,2016-17,leicester,24/09/16,11.583333,3.019444,1,15
309,2016-17,liverpool,24/09/16,18.142857,4.550000,3,16
347,2016-17,man city,24/09/16,17.712821,4.689744,1,18
385,2016-17,man united,24/09/16,9.831111,2.088889,3,19
423,2016-17,middlesbrough,24/09/16,14.833333,2.225000,1,20
499,2016-17,stoke,24/09/16,3.533333,1.106667,1,26
537,2016-17,sunderland,24/09/16,20.600000,3.100000,5,27
575,2016-17,swansea,24/09/16,10.733333,1.933333,1,28
613,2016-17,tottenham,24/09/16,13.495833,4.318750,3,29
689,2016-17,west brom,24/09/16,13.425000,2.491667,1,31

In [81]:
team_weekly_avg_influence.columns

Index(['season_x', 'team', 'kickoff_time', 'rolling_avg_influence',
       'rolling_avg_ict_index', 'injured_players', 'team_id'],
      dtype='object')

In [82]:
matches_df.columns

Index(['Date', 'FT_HT_Goals', 'FT_AT_Goals', 'HT_HT_Goals', 'HT_AT_Goals',
       'HT_Shots', 'AT_Shots', 'HT_Shots_target', 'AT_Shots_target',
       'HT_Fouls_Comm', 'AT_Fouls_Comm', 'HT_Corners', 'AT_Corners',
       'HT_Yellows', 'AT_Yellows', 'HT_Reds', 'AT_Reds', 'HT_W_Odds',
       'Draw_Odds', 'AT_W_Odds', '5GAV_FT_HT_Goals', '5GAV_FT_AT_Goals',
       '5GAV_HT_Shots', '5GAV_AT_Shots', '5GAV_HT_Shots_target',
       '5GAV_AT_Shots_target', '5GAV_HT_Fouls_Comm', '5GAV_AT_Fouls_Comm',
       '5GAV_HT_Corners', '5GAV_AT_Corners', '5GAV_HT_Yellows',
       '5GAV_AT_Yellows', '5GAV_HT_Reds', '5GAV_AT_Reds', 'HT_Form', 'AT_Form',
       'HT_Code', 'AT_Code', 'FT_Result_code', 'HT_Result_code'],
      dtype='object')

In [83]:
matches_df

,Date,FT_HT_Goals,FT_AT_Goals,HT_HT_Goals,HT_AT_Goals,HT_Shots,AT_Shots,HT_Shots_target,AT_Shots_target,HT_Fouls_Comm,...,5GAV_HT_Yellows,5GAV_AT_Yellows,5GAV_HT_Reds,5GAV_AT_Reds,HT_Form,AT_Form,HT_Code,AT_Code,FT_Result_code,HT_Result_code
0,24/09/16,3,0,3,0,14,9,5,2,9,...,1.2,1.4,0.0,0.0,10,10,1,8,1,1
1,24/09/16,4,1,4,0,16,10,7,3,9,...,1.6,0.8,0.0,0.2,9,7,19,15,1,1
2,24/09/16,1,3,1,1,13,18,5,4,15,...,1.2,1.2,0.0,0.0,4,15,28,18,0,0
3,24/09/16,2,3,1,0,11,20,4,4,15,...,1.8,2.0,0.2,0.0,1,7,27,9,0,1
4,24/09/16,1,1,0,0,12,9,2,3,9,...,2.2,1.4,0.0,0.0,1,7,26,31,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,10/03/24,1,0,1,0,10,9,3,4,14,...,0.8,1.6,0.2,0.0,7,4,5,23,1,1
2820,10/03/24,2,2,0,2,22,11,4,4,11,...,2.2,1.8,0.0,0.0,6,1,32,6,0,0
2821,10/03/24,1,1,0,1,19,10,6,6,6,...,1.8,1.2,0.0,0.0,12,13,16,18,0,0
2822,10/03/24,0,4,0,0,10,9,1,5,11,...,2.4,2.0,0.2,0.0,12,10,2,29,0,0
2823,11/03/24,3,2,1,1,12,11,8,3,12,...,1.0,2.4,0.0,0.0,5,8,8,21,1,0

In [84]:
matches_df.shape

(2824, 40)

In [85]:
date_format = '%d/%m/%y'

team_weekly_avg_influence['kickoff_time'] = pd.to_datetime(
    team_weekly_avg_influence['kickoff_time'], format=date_format, dayfirst=True)
matches_df['Date'] = pd.to_datetime(matches_df['Date'], format=date_format, dayfirst=True)

agg_influence = team_weekly_avg_influence.copy()
agg_influence['Date'] = agg_influence['kickoff_time'].dt.date

agg_influence = agg_influence.groupby(['Date', 'team_id'], as_index=False).agg({
    'rolling_avg_influence': 'mean',
    'rolling_avg_ict_index': 'mean',
    'injured_players': 'sum'
})

matches_df['Date'] = matches_df['Date'].dt.date

home_df = agg_influence.copy().rename(columns={
    'team_id': 'HT_Code',
    'rolling_avg_influence': 'rolling_avg_influence_HT',
    'rolling_avg_ict_index': 'rolling_avg_ict_index_HT',
    'injured_players': 'injured_players_HT'
})
matches_with_home = pd.merge(matches_df, home_df, how='left', left_on=['Date', 'HT_Code'], right_on=['Date', 'HT_Code'])

away_df = agg_influence.copy().rename(columns={
    'team_id': 'AT_Code',
    'rolling_avg_influence': 'rolling_avg_influence_AT',
    'rolling_avg_ict_index': 'rolling_avg_ict_index_AT',
    'injured_players': 'injured_players_AT'
})
final_matches_df = pd.merge(matches_with_home, away_df, how='left', left_on=['Date', 'AT_Code'], right_on=['Date', 'AT_Code'])

In [86]:
final_matches_df

,Date,FT_HT_Goals,FT_AT_Goals,HT_HT_Goals,HT_AT_Goals,HT_Shots,AT_Shots,HT_Shots_target,AT_Shots_target,HT_Fouls_Comm,...,HT_Code,AT_Code,FT_Result_code,HT_Result_code,rolling_avg_influence_HT,rolling_avg_ict_index_HT,injured_players_HT,rolling_avg_influence_AT,rolling_avg_ict_index_AT,injured_players_AT
0,2016-09-24,3,0,3,0,14,9,5,2,9,...,1,8,1,1,11.071795,3.556410,2.0,10.702222,3.033333,0.0
1,2016-09-24,4,1,4,0,16,10,7,3,9,...,19,15,1,1,9.831111,2.088889,3.0,11.583333,3.019444,1.0
2,2016-09-24,1,3,1,1,13,18,5,4,15,...,28,18,0,0,10.733333,1.933333,1.0,17.712821,4.689744,1.0
3,2016-09-24,2,3,1,0,11,20,4,4,15,...,27,9,0,1,20.600000,3.100000,5.0,19.953333,4.530000,2.0
4,2016-09-24,1,1,0,0,12,9,2,3,9,...,26,31,0,0,3.533333,1.106667,1.0,13.425000,2.491667,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,2024-03-10,1,0,1,0,10,9,3,4,14,...,5,23,1,1,3.848485,1.193939,2.0,3.230952,0.646429,1.0
2820,2024-03-10,2,2,0,2,22,11,4,4,11,...,32,6,0,0,10.113725,1.995098,0.0,3.553030,0.840909,1.0
2821,2024-03-10,1,1,0,1,19,10,6,6,6,...,16,18,0,0,6.579365,1.766667,3.0,7.898925,2.188172,0.0
2822,2024-03-10,0,4,0,0,10,9,1,5,11,...,2,29,0,0,5.834146,1.330081,0.0,7.424390,1.665854,1.0
2823,2024-03-11,3,2,1,1,12,11,8,3,12,...,8,21,1,0,5.816049,1.127160,0.0,5.250000,1.067424,0.0

In [87]:
final_matches_df.columns

Index(['Date', 'FT_HT_Goals', 'FT_AT_Goals', 'HT_HT_Goals', 'HT_AT_Goals',
       'HT_Shots', 'AT_Shots', 'HT_Shots_target', 'AT_Shots_target',
       'HT_Fouls_Comm', 'AT_Fouls_Comm', 'HT_Corners', 'AT_Corners',
       'HT_Yellows', 'AT_Yellows', 'HT_Reds', 'AT_Reds', 'HT_W_Odds',
       'Draw_Odds', 'AT_W_Odds', '5GAV_FT_HT_Goals', '5GAV_FT_AT_Goals',
       '5GAV_HT_Shots', '5GAV_AT_Shots', '5GAV_HT_Shots_target',
       '5GAV_AT_Shots_target', '5GAV_HT_Fouls_Comm', '5GAV_AT_Fouls_Comm',
       '5GAV_HT_Corners', '5GAV_AT_Corners', '5GAV_HT_Yellows',
       '5GAV_AT_Yellows', '5GAV_HT_Reds', '5GAV_AT_Reds', 'HT_Form', 'AT_Form',
       'HT_Code', 'AT_Code', 'FT_Result_code', 'HT_Result_code',
       'rolling_avg_influence_HT', 'rolling_avg_ict_index_HT',
       'injured_players_HT', 'rolling_avg_influence_AT',
       'rolling_avg_ict_index_AT', 'injured_players_AT'],
      dtype='object')

In [88]:
final_matches_df = final_matches_df.drop(columns=['Date'])

In [89]:
final_matches_df = final_matches_df.rename(columns={
    'rolling_avg_influence_HT': 'AVG_Influence_HT',
    'rolling_avg_ict_index_HT': 'AVG_ICT_Index_HT',
    'injured_players_HT': 'Injured_Players_HT',
    'rolling_avg_influence_AT': 'AVG_Influence_AT',
    'rolling_avg_ict_index_AT': 'AVG_ICT_Index_AT',
    'injured_players_AT': 'Injured_Players_AT'
})

In [90]:
final_matches_df.columns

Index(['FT_HT_Goals', 'FT_AT_Goals', 'HT_HT_Goals', 'HT_AT_Goals', 'HT_Shots',
       'AT_Shots', 'HT_Shots_target', 'AT_Shots_target', 'HT_Fouls_Comm',
       'AT_Fouls_Comm', 'HT_Corners', 'AT_Corners', 'HT_Yellows', 'AT_Yellows',
       'HT_Reds', 'AT_Reds', 'HT_W_Odds', 'Draw_Odds', 'AT_W_Odds',
       '5GAV_FT_HT_Goals', '5GAV_FT_AT_Goals', '5GAV_HT_Shots',
       '5GAV_AT_Shots', '5GAV_HT_Shots_target', '5GAV_AT_Shots_target',
       '5GAV_HT_Fouls_Comm', '5GAV_AT_Fouls_Comm', '5GAV_HT_Corners',
       '5GAV_AT_Corners', '5GAV_HT_Yellows', '5GAV_AT_Yellows', '5GAV_HT_Reds',
       '5GAV_AT_Reds', 'HT_Form', 'AT_Form', 'HT_Code', 'AT_Code',
       'FT_Result_code', 'HT_Result_code', 'AVG_Influence_HT',
       'AVG_ICT_Index_HT', 'Injured_Players_HT', 'AVG_Influence_AT',
       'AVG_ICT_Index_AT', 'Injured_Players_AT'],
      dtype='object')

In [91]:
final_matches_df = final_matches_df[['HT_Code', 'AT_Code','FT_Result_code', 'HT_Form', 'AT_Form',
'FT_HT_Goals', 'FT_AT_Goals', 'HT_HT_Goals', 'HT_AT_Goals', 'HT_Shots',
       'AT_Shots', 'HT_Shots_target', 'AT_Shots_target', 'HT_Fouls_Comm',
       'AT_Fouls_Comm', 'HT_Corners', 'AT_Corners', 'HT_Yellows', 'AT_Yellows',
       'HT_Reds', 'AT_Reds', 'HT_W_Odds', 'Draw_Odds', 'AT_W_Odds',
       '5GAV_FT_HT_Goals', '5GAV_FT_AT_Goals', '5GAV_HT_Shots',
       '5GAV_AT_Shots', '5GAV_HT_Shots_target', '5GAV_AT_Shots_target',
       '5GAV_HT_Fouls_Comm', '5GAV_AT_Fouls_Comm', '5GAV_HT_Corners',
       '5GAV_AT_Corners', '5GAV_HT_Yellows', '5GAV_AT_Yellows', '5GAV_HT_Reds',
       '5GAV_AT_Reds'
       , 'HT_Result_code', 'AVG_Influence_HT',
       'AVG_ICT_Index_HT', 'Injured_Players_HT', 'AVG_Influence_AT',
       'AVG_ICT_Index_AT', 'Injured_Players_AT'
]]

In [92]:
final_matches_df['HT_Players_Performances'] = (0.5 * final_matches_df['AVG_Influence_HT']) + (0.5 * final_matches_df['AVG_ICT_Index_HT']) - (1 * final_matches_df['Injured_Players_HT'])

final_matches_df['AT_Players_Performances'] = (0.5 * final_matches_df['AVG_Influence_AT']) + (0.5 * final_matches_df['AVG_ICT_Index_AT']) - (1 * final_matches_df['Injured_Players_AT'])

In [93]:
final_matches_df

,HT_Code,AT_Code,FT_Result_code,HT_Form,AT_Form,FT_HT_Goals,FT_AT_Goals,HT_HT_Goals,HT_AT_Goals,HT_Shots,...,5GAV_AT_Reds,HT_Result_code,AVG_Influence_HT,AVG_ICT_Index_HT,Injured_Players_HT,AVG_Influence_AT,AVG_ICT_Index_AT,Injured_Players_AT,HT_Players_Performances,AT_Players_Performances
0,1,8,1,10,10,3,0,3,0,14,...,0.0,1,11.071795,3.556410,2.0,10.702222,3.033333,0.0,5.314103,6.867778
1,19,15,1,9,7,4,1,4,0,16,...,0.2,1,9.831111,2.088889,3.0,11.583333,3.019444,1.0,2.960000,6.301389
2,28,18,0,4,15,1,3,1,1,13,...,0.0,0,10.733333,1.933333,1.0,17.712821,4.689744,1.0,5.333333,10.201282
3,27,9,0,1,7,2,3,1,0,11,...,0.0,1,20.600000,3.100000,5.0,19.953333,4.530000,2.0,6.850000,10.241667
4,26,31,0,1,7,1,1,0,0,12,...,0.0,0,3.533333,1.106667,1.0,13.425000,2.491667,1.0,1.320000,6.958333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,5,23,1,7,4,1,0,1,0,10,...,0.0,1,3.848485,1.193939,2.0,3.230952,0.646429,1.0,0.521212,0.938690
2820,32,6,0,6,1,2,2,0,2,22,...,0.0,0,10.113725,1.995098,0.0,3.553030,0.840909,1.0,6.054412,1.196970
2821,16,18,0,12,13,1,1,0,1,19,...,0.0,0,6.579365,1.766667,3.0,7.898925,2.188172,0.0,1.173016,5.043548
2822,2,29,0,12,10,0,4,0,0,10,...,0.0,0,5.834146,1.330081,0.0,7.424390,1.665854,1.0,3.582114,3.545122
2823,8,21,1,5,8,3,2,1,1,12,...,0.0,0,5.816049,1.127160,0.0,5.250000,1.067424,0.0,3.471605,3.158712

In [94]:
final_matches_df.to_csv('data/encoded/final_matches_df.csv', index=False)